@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #F4F7FD;
}

.navbar > ul {
    color: #737373;
}

.navbar > ul > li {
    cursor: pointer;
}

li.active {
    font-weight: 600;
    color: #21acbe;
    background-color: #a2e3eb73;
    border-radius: 10px;
}

.navbar ul li svg {
    pointer-events: none;
}

.main-content h1 {
    color: #363133;
}

/* Table styles */
table {
    width: 90%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

thead tr {
    background-color: #0D8494;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
}

thead tr td {
    height: 40px;
}

tbody tr {
    height: 40px;
    color: #737373;
}
    /* Header */
tr:first-child td:first-child { border-top-left-radius: 10px; }
tr:first-child td:last-child { border-top-right-radius: 10px; }
tr:last-child td:first-child { border-bottom-left-radius: 10px; }
tr:last-child td:last-child { border-bottom-right-radius: 10px; }

    /* Body */
tr:nth-child(even) td {
    background-color: #F5F5F5;
}

tr td:first-child {
    border-radius: 10px 0 0 10px;
}

tr td:last-child {
    border-radius: 0 10px 10px 0;
}

ul.user-options > li:hover {
    cursor: pointer;
    font-weight: 600;
    color: #21acbe;
    background-color: #a2e3eb73;
    border-radius: 10px;
}

/* Pagination styles */
ul.pagination a {
    color: #21acbe;
}

ul.pagination a:hover {
    color: #21acbe;
    background-color: #a2e3eb73;
}

ul.pagination a:focus {
    color: #21acbe;
    background-color: #a2e3eb73;
}


/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}


/* END OF CUSTOM CSS */